# Copyright (c) 2019 Digital Asset (Switzerland) GmbH and/or its affiliates. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dazl = {file = "https://digitalassetsdk.bintray.com/DigitalAssetSDK/com/digitalasset/dazl/dazl/5.5.2/dazl-5.5.2-py3-none-any.whl"}
pandas = "*"
pymongo = "*"
celery = "*"
requests = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
