# Copyright 2019 Digital Asset (Switzerland) GmbH and/or its affiliates.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#     http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dazl = {file = "https://digitalassetsdk.bintray.com/DigitalAssetSDK/com/digitalasset/dazl/dazl/5.5.2/dazl-5.5.2-py3-none-any.whl"}
pandas = "*"
pymongo = "*"
celery = "*"
requests = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
